{% extends 'template.html.twig' %}

{% block title %}Liste des personnes dans la DB{% endblock %}

{% block body %}

<div class="row">
        {% for personne in personnes %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{personne.firstname}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{personne.firstname}} {{personne.name}}</h6>
                <p class="card-text">Age : {{personne.age}}</p>
                <a href="#" class="card-link">Card Link</a>
                <a href="#" class="card-link">Another Card Link</a>
            </div>
        </div>
        {% endfor %}
</div>

{% endblock %}
